/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  color: white;
  font-family: sans-serif;
}

header {
  background-image: url(../img/header-background.jpg);
  margin: 30px;
  border: 2px solid white;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 30px;
}

header span {
color: #2afca6;
font-weight:100;
font-style: italic;
}

figure {
  margin: 30px;
  background: white;
  color: black;
}

.magazine-explication {
  background: #2afca6;
  color: #05472f;
}

article {
  background: white;
  color: black;
}

p {
  margin: 30px;

}

a {
  margin: 30px;
}

footer {
  margin: 30px;
}



