/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  background-image: url(../img/header-background.jpg);
  margin: 19px 0px 19px 0px;
  padding: 33px 0px;
  border: 2px solid white;
}

.main-header h1 {
  font-size: 26px;
}

h1 {
  padding: 0 30px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  padding: 0 30px;
  font-family: 'Montserrat', sans-serif;
}

.header-text {
  font-size: 16px;
  padding: 2px 30px;
}

span {
color: #2afca6;
}

.date { 
  color: black;
}

.sub-title {
  font-size: 12px;
  color: #9f9f9f;
  padding: 5px 30px 0px 30px;
}

article p {
  padding: 0px 30px;
}

em {
  color: #2afca6;
  font-weight:100;
  font-style: italic;
}

img {
  box-sizing: border-box;
}

div {
  margin: 18px 0;
  padding: 0px;
}



figure {
  background: white;
  color: black;
  box-shadow:  1px 1px 7px black;
  margin: 0 30px;
}

figcaption {
  padding: 20px;
}

.magazine-explication h2 {
font-size: 16px;
padding: 1px 30px;
}

.magazine-explication p {
  margin: 18px 0px;
}

.magazine-explication {
  margin: 19px 0 20px 0px;
  padding: 15px 0 30px 0px;
  background: #2afca6;
  color: #05472f;
}

article {
  background: white;
  color: black;
  margin: 0px 0px 0px 0px;
  padding: 0px 0;
}

article h1 {
  font-size: 16px;
  padding: 1px 30px;
}

a {
  background: #444444;
  margin: 0px 30px;
  padding: 5px 17px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

p {
  padding: 0 30px;
}

.main-footer {
margin: 30px 0px;
border: 2px solid #2afca6;
text-align: center;
}



