/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: black;
  color: white;
  font-family: sans-serif;
}

.main-header {
  background-image: url(../img/header-background.jpg);
  border: 2px solid white;
}

.main-header h1 {
  font-size: 30px;
}

h1 {
  padding: 0 30px;
}

h2 {
  padding: 0 30px;
}

span {
color: #2afca6;
}

em {
  color: #2afca6;
  font-weight:100;
  font-style: italic;
}

img {
  box-sizing: border-box;
}

div {
  margin: 30px 0;
  padding: 0px;
}



figure {
  background: white;
  color: black;
  box-shadow:  1px 1px 7px black;
  margin: 0 30px;
}

figcaption {
  padding: 20px;
}

.magazine-explication {
  background: #2afca6;
  color: #05472f;
  margin: 30px 0;
}

article {
  background: white;
  color: black;
  padding: 30px 0;
}

a {
  background: #444444;
  margin: 0px 30px;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

p {
  padding: 0 30px;
}

.sub-title {
  font-size: 12px;
}

.main-footer {
margin: 30px 0px;
border: 2px solid #2afca6;
text-align: center;
}



